body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #333;
}
element {
}
#control .jog-panel > div {
  text-align: center;
}
#control .jog-panel {
  float: left;
  margin-right: 19px;
}
